/* General body styling */
body {
    background-color: #f8f8f8;
  }
  
  /* Box styling */
  .Box {
    margin: auto;
    margin-top: auto;
    width: 250px; /* Reduced the width */
    height: 350px;
    padding: 15px; /* Reduced padding */
    border-radius: 15px;
    background-color: burlywood;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .header {
    font-family: "Horizon", sans-serif;
    font-weight: bold;
    font-size: 28pt; /* Adjusted size */
    margin-bottom: 10px;
  }
  
  .body-text {
    font-family: "Arial Unicode MS", sans-serif;
  }
  
  .Box form {
    width: 100%;
  }
  
  .Box form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px; /* Smaller padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em; /* Reduced font size */
    box-sizing: border-box;
  }
  
  .Box form input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Box form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .helper-text a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .helper-text a:hover {
    text-decoration: underline;
  }